.problemDetail{
    display: flex;
    flex-direction: column;
 
    align-items: center;
}

.problemName{
    font-family: "UTM-Alter-Gothic";
    font-size: 30px;

}

.problemDescription{
    text-align: center;
   width: 60%;
  
}