/*Tab pane cac project popular */
.PopularTabPane{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-content: center;
    align-items: center;
    justify-content: center;
   

}




/*List cac popular prject ben canh*/
.ant-list.ant-list-split{
          

}

.ant-spin-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;

}

/*cac item trong list popular project */
.ant-list-item{
    width: '80%';
    margin-left:0px !important;
 
}
.ant-list-item-meta-title{
        text-align: left
}

/*---------------------- Project popular nhat-----------------*/
.MostPopularProjectContainer{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    position: relative;
}

